<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
        body {
            font-size: 1.2rem;
            font-family: 'Roboto', sans-serif;
        }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <h1>Digit Circle</h1>
    <div ng-controller="myController">
        <button ng-click="showNumberOfWatchers()">#show Watchers</button>
        <br>
        <button ng-click="counterOnce();">Once Couner</button>
        <br>
        <button ng-click="upCounter()">Incremment</button>
        {{counter}}
    </div>
</body>

</html>