body{
    margin: 0;
    padding: 0;
}
.main{
    text-align: center;
}
button{
    background-color: aliceblue;
    border-radius: 2rem;
    padding: 10px;
    border-style: groove;
    border-color: antiquewhite;
}
button:hover{
    background-color: rgb(97, 99, 100);
    color:white;
}